@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url("wp8877708-white-wine-wallpapers.jpg") no-repeat center center fixed;;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  overflow: scroll;
  padding-top: 5%;
}