<h1>Mason's Wines</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no wines to view.</p>
<% end %>

<%if is_admin?%>
<%= button_to "Add Wine to List", 
              new_product_path,
              method: :get %>

<%end%>