<h1>Mason's Fine Wines</h1>

<p>Located in the heart of Portland, Mason's Fine Wine Emporium has all of the rotten grape juice you could ever possibly need. God knows why anyone drinks this stuff, but if feel the urge to choke on a bottle of swill, come on down to Mason's!</p>

<h3>Most Reviewed Wine:</h3>
<% if @product_most.any? %>
  <ul>
    <% @product_most.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no wines to view.</p>
<% end %>

<h3>Newly Added Wine:</h3>
<% if @product_recent.any? %>
  <ul>
    <% @product_recent.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no wines to view.</p>
<% end %>

<h3>American Wine:</h3>
<% if @product_american.any? %>
  <ul>
    <% @product_american.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no wines to view.</p>
<% end %>
